body{
    color: rgb(252, 252, 252);
    background-color: rgb(5, 40, 68);
    font-family: fantasy;
}

.navbar{
    display: inline;
    
}

.ul-items li{
    list-style: none;

}
h3{
    color: rgb(12, 220, 227);
    font-weight: 500;
}
.hydrogen{
    padding: 10px 0 0 250px;
}
.lithium{
    padding-left: 400px;
    word-spacing: 30px;
    
}

/* the instructions said to make the navbar inline even though that ruins the site interface
.navbar{ */
  